# Dependencies
node_modules/
**/node_modules/

# Python
.venv/
**/.venv/

__pycache__/
**/__pycache__/
*.pyc

# Next.js
.next/
**/.next/

# Environment
.env
.env.*

# Logs
*.log
# Python
__pycache__/
*.pyc

# VS Code
.vscode/settings.json

# OS
.DS_Store
Thumbs.db